html, body {
    /* background-color: gray; */
    font-family: 'Instrument Serif', serif;;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./imgs/stormwind.jpg);
    background-size: cover; 
}

